<%= stylesheet_link_tag "style" %>

<%= javascript_include_tag "application" %>


<body class="clor">
<%= form_tag logins_path do %>

    <table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
     
        <tr>
               <td height="77" align="center">&nbsp;</td>
        </tr>
        <tr>
               <td align="center"><img src="../images/Attendance Reporting System.png" width="353" height="37" /></td>
        </tr>
        <tr>
                <td height="10" align="center"></td>
        </tr>
        <tr>
                <td align="center" valign="top"><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
           <td height="227" valign="top" background="../images/loginbg.jpg">
           
           <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
           
            <tr>
                 <td height="46"><img src="../images/loginname.jpg" width="73" height="30" /></td>
            </tr>
            
            <tr>
                 <td>&nbsp;</td>
            </tr>
            <tr>
                   <td align="center" valign="middle">
               
             <table width="380" border="0" cellspacing="0" cellpadding="0">
               
             <tr>
				    <td colspan="2"><p id="flash_colour"><%= flash[:notice] %></p></td>
			 </tr>
             <tr>
    
                    <td><%=text_field 'User','user_name',:class=>"logintext",:value=>"User name" ,:onFocus=>"if(this.value == 'User name') {this.value = '';}", :onBlur=>"if (this.value == '') {this.value = 'User name';}" %></td>
             </tr>
             <tr>
                    <td>&nbsp;</td>
             </tr>
             <tr>
    
                    <td><%= password_field 'User','password',:class=>"logintext",:value=>"Password" ,:onFocus=>"if(this.value == 'Password') {this.value = '';}", :onBlur=>"if (this.value == '') {this.value = 'Password';}"%></td>
             </tr>
             <tr>
                   <td height="30">&nbsp;</td>
             </tr>
             <tr>
                   <td><table width="388" border="0" cellspacing="0" cellpadding="0">
             <tr>
        
                    <td width="87" , align="right"><%= image_submit_tag ("login.jpg"),:id=>"submit",:onclick=>"check_empty()"  %></td>
        
             </tr>
     
             </table>
    
          </td>
        </tr>
    
            </table>
             </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
 
  <% end %>
</table>

</body>

<script>

   function check_empty() {
    //alert('hi');
        if (document.getElementById('User_user_name').value == ""  {
                alert("Fill All Fields !");
         } else {
                 document.getElementById('form').submit();
              alert("Form Submitted Successfully...");
         }
     }
     
  


</script>


