 <div align= "right">
        
        <b>  <%= link_to "Export To Excel", timecard_report_time_reports_path(format: "xls",:emp_id => params[:emp_id],:from_date => params[:from_date],:to_date => params[:to_date]) %> </b>
        
  </div>
 <div > <b>  Time Card Report From Date : <%= params[:from_date] %> to To Date : <%= params[:to_date] %> </b> </div>
 
  <% if params[:emp_id] != "" %> 

 <table border="0" cellpadding="0" cellspacing="0" style="width:100%" >
   
	<tr>
 			  <% empid = @times[2].to_i %>
 				<% @emp = Employee.where(PAYROLL: empid).first %>
 
 				<% @deptimesheet = TimeSheet.where(PAYROLL: empid).first %>
              <td width="7%" bgcolor="#008080" class="whitetext" height="20">
                   <label>Employee Number & Name:&nbsp;&nbsp;&nbsp; <%= @emp.PAYROLL %> , <%= @emp.LAST_NAME.to_s + ' ' + @emp.FIRST_NAME.to_s %> </label>
              </td>
              
              <td width="7%" bgcolor="#008080" class="whitetext" height="20">
                   <label>Department:&nbsp;&nbsp;&nbsp; <%= @deptimesheet.DEPT_GROUP %> <%= @deptimesheet.CENTRE %> </label>
              </td>
              
                          
	</tr>
</table>

<%end%>
<div style ="overflow-x:scroll;">


<% 
	$i = 0 ;
	
	iInOutCount = @times[0].to_i ;
    arrTimeCard = @times[1]; 
	
	#puts arrTimeCard.map{|e| e["attendancedate"]}.inspect;
 	arrAttandanceDate = arrTimeCard.map{|e| e["attendancedate"]};
 	#iAttendanceCount = strAttandanceDate.count ;
 	
 	#arrFirstInOut = arrTimeCard.map{|e| e["0"]};
 	 headers = arrTimeCard.flat_map(&:keys).uniq
 	 
 	 rows = arrTimeCard.map(&:values).flatten
 	 
%>


	<table cellpadding=5 cellspacing=2 border=1 style="width:200%">
	 
		<tr>
	        
       			<th width="10%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">Day / Date</th>
    
			<% (0..(iInOutCount-1)).each do |i| %>
				<th width="5%" height="28" align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">IN</th>
				<th width="5%" height="28" align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">OUT</th>
				<!--th width="10%" height="28" align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">TIME</th-->
			<% end %>
			
				<th width="5%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">Total</th>
				<th width="5%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"></th>
			
			
		</tr>
		
		
		    <% cumulativehrs = 0 %>
		   <% (0..(arrAttandanceDate.count)-1).each do |k| %>
		   		 <tr>
		   		     <% s =  arrTimeCard[k]["attendancedate"] %>
		   		     <% d = Date.parse(s) %>
		   		     <% d1 = d.strftime('%a') %>
		   		 
                   	<td width="10%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= d1 %>  <%= (arrTimeCard[k]["attendancedate"]).split('|')[0] %></td>
                   
                   <% strHoursFinal =[] %> <% sum = 0 %> 
                   
                   	<% (0..(iInOutCount-1)).each do |j| %>
	    				 <td width="5%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= arrTimeCard[k][j.to_s].blank? ? " " : showtime(arrTimeCard[k][j.to_s].split('-')[0]) %> </td>
	    			     <td width="5%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= arrTimeCard[k][j.to_s].blank? ? " " : showtime(arrTimeCard[k][j.to_s].split('-')[1]) %> </td>
					
						 <% arrTimeCard[k][j.to_s].blank? ? " " : strHours0 = (arrTimeCard[k][j.to_s].split('-')[2]) %>
					 
						 <% strHoursFinal << strHours0.to_i  %>
					<% end %>
					
					<% strHours = strHoursFinal.inject(0){|sum,x| sum + x } %>
					<% floatHoursFinal = number_with_precision(Float(strHours)/60, precision: 2) %>	
					
					<td width="5%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= floatHoursFinal  %>  </td>
				  	<%
				  		if (k == 0)
				  			cumulativehrs = floatHoursFinal.to_f
				  		elsif (k > 0)
				  			cumulativehrs = cumulativehrs.to_f + floatHoursFinal.to_f
				  		end
				  	%>
				  	
					 <td width="5%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> 
				                 <%= number_with_precision(cumulativehrs, precision: 2) %> </td>
				</tr>

            <%end%>
	</table>
   
  </div>
 
 </br>

 <% if params[:emp_id] != "" %> 
	<table cellpadding=5 cellspacing=0 border=1 style="width:100%">



		<% @times[3].each do |timesecond| %>
  			<tr>
 
  
   
    		<td width="10%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Transac:&nbsp;&nbsp;&nbsp;<%= timesecond.PDATE.strftime("%a")%> <%= timesecond.PDATE.strftime("%Y-%m-%d") %> </td>
    
    		<td width="10%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <% if timesecond.CODE == 'SIC' %>
    	                                                                                                  Sick 
    	                                                                                                <% elsif timesecond.CODE == 'VAC' %>
    	                                                                                                     Vacation 
    	                                                                                                <% elsif timesecond.CODE == 'PH' %>
    	                                                                                                     Holiday Pay
 
    	                                                                                                 <%end%>
    	                                                                                                  </td>
    	
    		<td width="10%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= timesecond.DEPT_GROUP  + " " + " " +  timesecond.CENTRE %> </td>

     		<td width="10%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Amount: </td>
     	
     		<td width="10%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> 
     																			<% if timesecond.CODE == 'VAC' %>
    	                                                                             8.00 
    	                                                                             
    	                                                                          <% elsif timesecond.CODE == 'SIC' %>
    	                                                                              <% sicktime = Float(timesecond.HOURS)/60 %>
    	                                                                              
    	                                                                              <%= number_with_precision(sicktime,precision: 2) %>
    	                                                                                                
    	                                                                        <%end%> </td>
  			</tr>
  

		<% end %>

	</table>
 <%end%>
 </br>
 <% if params[:emp_id] != "" %> 
   
 	<table cellpadding=0 cellspacing=0 border=0 style="width:100%">
   
      <tr>
      
        <th width="20%" height="28"  align="left"  valign="middle" bgcolor="#008080" class="whitetext">Department</th>
        
        <th width="20%" height="28"  align="left"  valign="middle" bgcolor="#008080" class="whitetext">Category</th>
        <th width="15%" height="28" align="left"   valign="middle" bgcolor="#008080" class="whitetext">Type</th>
        
        <th width="15%" height="28" align="left"   valign="middle" bgcolor="#008080" class="whitetext">Amount</th>
       
        <th width="15%" height="28" align="left"   valign="middle" bgcolor="#008080" class="whitetext">Dollar</th>
       
                
      </tr>
      
  	     <% @Arrdepartment.each do |arrdepart| %>
  	       <tr>
  	          
  	             <% departfinal = arrdepart[0] + " " + arrdepart[1] %>
  	              
  	             <% regulardataregular =  TimeSheet.where('("PAYROLL") = ? and date("CLK_ON") >=? and date("CLK_OFF") <=? and  ("DEPT_GROUP")=? and ("CENTRE") =? and ("CODE")=? ',params[:emp_id],params[:from_date],params[:to_date],arrdepart[0],arrdepart[1],'(W)').pluck("sum (\"HOURS\") as total_hours") %>
   
         		 <% regulardatatimeregular = Float(regulardataregular[0])/60 if !regulardataregular[0].nil?  %>
         	 
             <tr>
  	              
  	         	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= departfinal %> </td>
  	         
  	          	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Regular </td>
  	           	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Time </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= regulardatatimeregular.blank? ? 0.00 :  number_with_precision(regulardatatimeregular,precision: 2) %>  </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> $0.00 </td>
  	             
  	        </tr> 
  	        
  	              <% regulardatasick =  TimeSheet.where('("PAYROLL") = ? and date("CLK_ON") >=? and date("CLK_OFF") <=?  and ("DEPT_GROUP")=? and ("CENTRE") =? and ("CODE")=? ',params[:emp_id],params[:from_date],params[:to_date],arrdepart[0],arrdepart[1],'SIC').pluck("sum (\"HOURS\") as total_hours") %>
   
         		  <% regulardatatimesick = Float(regulardatasick[0])/60 if !regulardatasick[0].nil?  %>
         	 <% if regulardatasick[0] %> 
             <tr>
  	              
  	         	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">  </td>
  	         
  	          	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Sick </td>
  	           	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Time </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= regulardatatimesick.blank? ? 0.00 :  number_with_precision(regulardatatimesick,precision: 2) %>  </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> $0.00 </td>
  	           
  	        </tr>
  	         <% end %>
  	        
  	        	 <% regulardatavac =  TimeSheet.where('("PAYROLL") = ? and date("CLK_ON") >=? and date("CLK_OFF") <=?  and ("DEPT_GROUP")=? and ("CENTRE") =? and ("CODE")=? ',params[:emp_id],params[:from_date],params[:to_date],arrdepart[0],arrdepart[1],'VAC').pluck("sum (\"HOURS\") as total_hours") %>
   
         		 <% regulardatatimevac = Float(regulardatavac[0])/60 if !regulardatavac[0].nil?  %>
         	  <% if regulardatavac[0] %>	 
              <tr>
  	              
  	         	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">  </td>
  	         
  	          	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> vacation </td>
  	           	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Time </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= regulardatatimevac.blank? ? 0.00 :  number_with_precision(regulardatatimevac,precision: 2) %>  </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> $0.00 </td>
  	           
  	          </tr>
  	          <% end %>
  	    
  	           
  	        
  	        	 <% regulardataholiday =  TimeSheet.where('("PAYROLL") = ? and date("CLK_ON") >=? and date("CLK_OFF") <=?  and ("DEPT_GROUP")=? and ("CENTRE") =? and ("CODE")=? ',params[:emp_id],params[:from_date],params[:to_date],arrdepart[0],arrdepart[1],'PH').pluck("sum (\"HOURS\") as total_hours") %>
  
         		 <% regulardatatimeholiday = Float(regulardataholiday[0])/60 if !regulardataholiday[0].nil?  %>
         	 <% if regulardataholiday[0] %>	
             <tr>
  	              
  	         	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">  </td>
  	         
  	          	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Holiday </td>
  	           	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Time </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= regulardatatimeholiday.blank? ? 0.00 :  number_with_precision(regulardatatimeholiday,precision: 2) %>  </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> $0.00 </td>
  	           
  	        </tr>
      	    <% end %>

  	    </tr> 
  	        
  	  <% end %>
  	 
  	</table>
  	  <%end%>
  	
  	   </br>
  	      <% if params[:emp_id] != "" %> 
  			<table cellpadding=0 cellspacing=0 border=0 style="width:100%">
  			
  	       		 <% employeetotalregular =  TimeSheet.where('("PAYROLL") = ? and date("CLK_ON") >=? and date("CLK_OFF") <=?  and ("CODE")=? ',params[:emp_id],params[:from_date],params[:to_date],'(W)').pluck("sum (\"HOURS\") as total_hours") %>
   
         		 <% employeetotaltimeregular = Float(employeetotalregular[0])/60 if !employeetotalregular[0].nil?  %>
			 
  	         <tr>    
  	         	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Employee Total </td>
  	         
  	          	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Regular </td>
  	           	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Time </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= employeetotaltimeregular.blank? ? 0.00 :  number_with_precision(employeetotaltimeregular,precision: 2) %>  </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> $0.00 </td>
  	      	 </tr>
  	      	  
  	      	 
  	       		 <% employeetotalsick =  TimeSheet.where('("PAYROLL") = ? and date("CLK_ON") >=? and date("CLK_OFF") <=?  and ("CODE")=? ',params[:emp_id],params[:from_date],params[:to_date],'SIC').pluck("sum (\"HOURS\") as total_hours") %>
   
         		 <% employeetotaltimesick = Float(employeetotalsick[0])/60 if !employeetotalsick[0].nil?  %>
			       	  
			  <% if employeetotaltimesick %>	 

  	         <tr>    
  	         	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">  </td>
  	         
  	          	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Sick </td>
  	           	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Time </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= employeetotaltimesick.blank? ? 0.00 :  number_with_precision(employeetotaltimesick,precision: 2) %>  </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> $0.00 </td>
  	      	 </tr>
  	      	 <% end %>
  	      	
  	       		 <% employeetotalvac =  TimeSheet.where('("PAYROLL") = ? and date("CLK_ON") >=? and date("CLK_OFF") <=?  and ("CODE")=? ',params[:emp_id],params[:from_date],params[:to_date],'VAC').pluck("sum (\"HOURS\") as total_hours") %>
   
         		 <% employeetotaltimevac = Float(employeetotalvac[0])/60 if !employeetotalvac[0].nil?  %>
         	   <% if employeetotaltimevac %>	 

  	          <tr>    
  	         	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">  </td>
  	         
  	          	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Vacation </td>
  	           	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Time </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= employeetotaltimevac.blank? ? 0.00 :  number_with_precision(employeetotaltimevac,precision: 2) %>  </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> $0.00 </td>
  	      	 </tr>
  	      	  <% end %>

  	      	 
  	       		 <% employeetotalholiday =  TimeSheet.where('("PAYROLL") = ? and date("CLK_ON") >=? and date("CLK_OFF") <=?  and ("CODE")=? ',params[:emp_id],params[:from_date],params[:to_date],'PH').pluck("sum (\"HOURS\") as total_hours") %>
   
         		 <% employeetotaltimeholiday = Float(employeetotalholiday[0])/60 if !employeetotalholiday[0].nil?  %>
 			<% if employeetotaltimeholiday %>
 			
 			<tr>
  	              
  	         	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">  </td>
  	         
  	          	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Holiday </td>
  	           	 <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> Time </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= employeetotaltimeholiday.blank? ? 0.00 :  number_with_precision(employeetotaltimeholiday,precision: 2) %>  </td>
  	             <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> $0.00 </td>
  	      	 </tr>
  	      	<% end %>
  	      	
  	       	 
  	      </table>
  	      <%end%>
  	</br>
  	</br>
  	
 <script>
 
   $(document).ready(function() {
    $('#example').DataTable( {
        "scrollX": true
    } );
} );
 </script> 	
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                