
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
  <%#= form_for @user, remote: true, html: { style: "display:inline;" } do |u| %>
        <tr>
            <td align="center">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="left" class="heading">
                <strong>Account Settings</strong>
            </td>
        </tr>
        <tr>
            <td align="center">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="988" border="0" cellpadding="0" cellspacing="1" bgcolor="#340101">
                    <tr>
                        <td bgcolor="#FFFFFF">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="7" colspan="3">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="4px">
                                    </td>
                                    <td width="980">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="1" style="border-color:#3d9cd4">
                                            <tr>
                                                <td class="headerbar" align="left">
                                                    Profile
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td rowspan="8" width="30px">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20px">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 7px">
                                                                <span id="ctl00_ContentPlaceHolder1_lblFullNameHeader" class="labelheader">Name:</span>&nbsp;&nbsp;
                                                                <span id="ctl00_ContentPlaceHolder1_lblFullName" class="labeltextprofile"> <%= @user.first_name %> <%= @user.last_name %> </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 7px">
                                                                <span id="ctl00_ContentPlaceHolder1_lblEmailHeader" class="labelheader">Email:</span>&nbsp;&nbsp;
                                                                <span id="ctl00_ContentPlaceHolder1_lblEmail" class="labeltextprofile"><%= @user.email %></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 7px">
                                                                <span id="ctl00_ContentPlaceHolder1_lblContactHeader" class="labelheader">User Name:</span>&nbsp;&nbsp;
                                                                <span id="ctl00_ContentPlaceHolder1_lblContact" class="labeltextprofile"><%= @user.user_name %></span>
                                                            </td>
                                                        </tr>
                                                        
                                 
                                                        
                                                        <tr>
                                                            <td height="10">
                                                            </td>
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td height="15px">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="separatorbar" align="left">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="4px">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="7" colspan="3">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="4px">
                                    </td>
                                    <td width="980">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td rowspan="5" width="15px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <%= link_to 'Change Password',{:action => "change_password",:controller => "users"} %> 
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                    </td>
                                    <td width="4px">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="7" colspan="3">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                  
                </table>
            