<div class="modal-dialog">
  	<div class="modal-content">
   	<%= form_for @userdep, remote: true, html: { style: "display:inline;" } do |u| %>
  
  
  	<div style="height:300px; overflow-y: scroll;">
  		<div class="modal-body">
       		<table border="0" cellpadding="0" cellspacing ="0" width ="100%">
          
          		<tbody>
          	 		<tr>
                 		<td class = "popuphd" bgcolor="#0588da" height =50 vailgn ="middle">
                     		<strong>Assign Department To Users</strong>
                 		 </td>
              		</tr>
              	</tbody>
        	</table>
              <br />
             <div class="field">
             	<%= u.label "List of Department codes and desc." %><br />
             	<%= u.collection_check_boxes :department_ids, Department.all,:id,:department_code do |b| %>
              	<div class="collection-check-box">
               		<tr>
                  
                  	<td> <%= b.label    { b.check_box + " " + " " + " " + " " + " " + " " + b.object.department_code + "-" + " " + b.object.department_desc}  %> </td>
                	</tr>
              	</div>
            	<% end %>
          	 </div>
        
          	
  		</div>
  <div class="modal-footer">
       
       <%#= link_to "Save", user_update_department_path(@user), remote: true, class: "btn btn-danger" %>
     <%#= u.submit class: "btn btn-primary" %>
      <!-- input id = departm_id class= "btn btn-primary" name = "commit" value="Submit" type ="submit" action="update_department" onclick ="return check_department();" -->
      
      <input id = departm_id class= "btn btn-primary" name = "commit" value="Submit" type ="submit" action="update_department">

     
     <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
         <% end %>
  </div>
  


<script>
         function check_department()
         {
            //alert("1")
            
             var i,
  			chks = document.getElementsByName('user[department_ids][]');
  
  			for (i = 0; i < chks.length; i++){
    			if (chks[i].checked){
        
      				//Here how i should alert selected values 
        
        			return true;
    			}else{
       				 alert('No item selected');
       				 //event.stopPropagation();
        			return false;
   					 }
  				}
         }
         
</script>











