
<html>
<body>

</br>

<div class="container">

   <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td align="left" class="heading" style="padding-top: 10px;">
                                        <strong>Manage Users</strong>
                                    </td>
                                </tr>
                                 
                                  <tr>
                                        <td align="center">&nbsp;</td>
                                   </tr>

                                  <tr align="left">
                                      <td class="popupbg" style="padding: 10px;">
                                            
                                       <%= render "search_user_form" %>
                                        
                                    </td>
                                 
                                  </tr>
                                
                                   <tr>
                                          <td height="25">&nbsp;</td>
                                    </tr>
   </table
       
  <div class="container">
    <%= link_to "New User", new_user_path, remote: true, class: "btn btn-primary"  %>
     <%= link_to "Export",new_export_users_path,remote: true, class: "btn btn-primary"  %>
  </div>
  </br>
 
  <div class="container" > 
      <table align = "right" border = "0">
               <tbody>
                 <tr>
                     <td>
                      <b> <%= will_paginate @users ,:next_label => "&gt;&gt;" ,:previous_label => "&lt;&lt;" %> </b>
                      </td>
                   <tr>
                </tbody>
        </table>
  <table class="table table-bordered table-striped">
   
      <tr>
      
        <th width="20%" height="5" align="left"  valign="middle" bgcolor="#0370b5" class="whitetext">Name</th>
        <th width="20%" height="28" align="left" valign="middle" bgcolor="#0370b5" class="whitetext">Email Id</th>
        <th width="20%" height="28" align="left" valign="middle" bgcolor="#0370b5" class="whitetext">Domain name</th>
        <th width="20%" height="28" align="left" valign="middle" bgcolor="#0370b5" class="whitetext">Is admin</th>
        <th width="20%" height="28" align="left" valign="middle" bgcolor="#0370b5" class="whitetext">Status</th>
        <td width="20%" height="28" align="left" valign="middle" bgcolor="#0370b5" class="whitetext">&nbsp;</td>
        <td width="20%" height="28" align="left" valign="middle" bgcolor="#0370b5" class="whitetext">&nbsp;</td>
        <td width="20%" height="28" align="left" valign="middle" bgcolor="#0370b5" class="whitetext">&nbsp;</td>
      </tr>

    <tbody class="user-index">
      <%= render "index" %>
    </tbody>
  </table>
   
   
   <table align = "right" border = "0">
               <tbody>
                 <tr>
                     <td>
                        <b> <%= will_paginate @users ,:next_label => "&gt;&gt;" ,:previous_label => "&lt;&lt;" %> </b>
                      </td>
                  <tr>
                </tbody>
   </table>
     
<div id="user-modal" class="modal fade"></div>
</div>
</div>

</html>
</body>

<script  type="text/javascript">

         function loaduserdetails()
          {
                   alert ('hi');
              //  var pars = document.getElementById("user_name").value;
               var pars = "name=" + $F('user_name');
               var myAjax = new Ajax.Updater("users",'/users/search_user_list',{
               parameters:pars,
               method:'get'
               });
               
           }

</script>





 