<div class="modal-dialog">
  <div class="modal-content">
  <%#raise @userdep.inspect%>
   <%= form_for @userdep, remote: true, html: { style: "display:inline;" } do |u| %>
  <div class="modal-header">
    <h3>Assign Department To Users</h3>
  </div>
  <div class="modal-body">
       <table border="0" cellpadding="0" cellspacing ="0" width ="50%">
          
          <tbody>
             
             <div class="field">
             <%= u.label "List of Departments" %><br />
             <%= u.collection_check_boxes :department_ids, Department.all, :id, :department_name do |b| %>
              <div class="collection-check-box">
               <tr>
                  <td> <%= b.check_box %> </td>
                  <td> <%= b.label %> </td>
                </tr>
              </div>
            <% end %>
          </div>
        
          </tbody>
        </table>
  </div>
  <div class="modal-footer">
       
       <%#= link_to "Save", user_update_department_path(@user), remote: true, class: "btn btn-danger" %>
     <%#= u.submit class: "btn btn-primary" %>
      <input id = departm_id class= "btn btn-primary" name = "commit" value="Submit" type ="submit" action="update_department" onclick ="return check_department();">
     
     <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
         <% end %>
  </div>
  
</div>


<script>
         function check_department()
         {
            //alert("1")
            
             var i,
  chks = document.getElementsByName('user[department_ids][]');
  
  for (i = 0; i < chks.length; i++){
    if (chks[i].checked){
        
      //Here how i should alert selected values 
        
        return true;
    }else{
        alert('No item selected');
        //event.stopPropagation();
        return false;
    }
  }
         }
         
</script>











