      
                                           
                            <%= search_form_for @q do |f| %>
                                     <table>       
                                       <tr>
                                                <td align="left" width="05%">
                                                  <%= f.label :name %>
                                                </td>
                                                
                                                <td align="left" valign="middle" style="padding-left: 10px;" width="40%">
                                                 <%#= text_field "user", "name", "size" => 20 ,"style" => "width:230px;"%>
                                                 <%#= text_field_tag :search, params[:search], placeholder: "Search users" %>
                                                 <%= f.search_field :first_name_or_last_name_or_domain_name_cont %> (First Name, Last Name,domain_name) 
                                                </td>
                                                
                                                <td align="left" width="06%">
                                                  <%= f.label :status %> <%#= f.label :status_cont %>
                                                </td>
                                                <td align="left" valign="middle" style="padding-left: 10px;" width="20%">
                                                     <%#= f.select "status_eq","<option value ="">Select</option><option>Active</option><option>In-Active</option>".html_safe, selected: f.object.status_eq%>
                                                     <%= f.select :status_eq, options_for_select([["Select"," "],["Active","Active"], ["In-Active","In-Active"]], @q.status_eq), :class => "input-medium search-field"%></p>


                                                </td>
                                                <td align="left" valign="middle" style="padding-left: 10px;" width="10%">
                                                  <%#= submit_tag "Search",{:class=>'buttons',:onclick=>"return loaduserdetails();"} %> 
                                                 <%#= image_submit_tag 'search.png',{:name => 'operation',:class => 'buttons', :id => 'text_value',:onclick=>"return loaduserdetails();"} %>
                                                  
                                                  <%= image_submit_tag 'search.png' %>
                                                   
                                                 </td>
                                        </tr>
                                   </table>
                             <% end %>
           