
<table cellpadding=5 cellspacing=0 border=1 style="width:100%">

<% t3 = [] %>  <% sum = 0 %>

<% @times.each do |time| %>
  <tr>
  <% @emp = Employee.where(PAYROLL: time.PAYROLL).first %>
  
   
  
  <% t1 = Float(time.HOURS)/60 %>
  
  <% t2 = number_with_precision(t1, precision: 1) %>
  
  <% t3 << t2.to_f%>
  

  
  
    <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= @emp.FIRST_NAME.to_s + ' ' + @emp.LAST_NAME.to_s %> </td>
   
    <td width="20%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= time.PDATE.strftime("%a")%> <%= time.PDATE.strftime("%Y/%m/%d") %> </td>
    
    <td width="15%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= showtime(time.CLK_ON) %> </td>
    
     <td width="15%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> SU </td>
  
    <td width="15%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%=  showtime(time.CLK_OFF) %> </td>
    <td width="15%" height="28"  align="left"  valign="middle" bgcolor="#0370b5" class="whitetext"> <%= t2 %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <%= number_with_precision(t3.inject(0) {|sum, i|  sum + i }, precision: 1)%> </td>
    

  </tr>
  

<% end %>

</table>


